body {
  background-color: white;
}
h2 {
  color: #111317;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color:  #111317;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color:  #111317;
  font-family: Arial, Helvetica, sans-serif;
}

.p2 {
   font-family: "Lucida Console", "Courier New", monospace;
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
ul {
  color:  #111317;
  font-family: Arial, Helvetica, sans-serif;
}
