body {
  background-color: #313338;
}
h2 {
  color: #313338;
  background-color: white;
}
h3 {
  color: white;
}
p {
  color: white;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
ul {
  color: white;
}
