h2 {
text-align: center;
    color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styling */

body {
  margin: auto;
  #width: 50%; 
  max-width: 960px;
  padding: 25px;
  font-family: 'Lexend Deca', sans-serif; 
  background-color: #17191A;    
}


img {
  max-width: 100%;
  height: auto;
}

/*h2 {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}*/
h3 {
  color:  #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color:  #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

.p2 {
   font-family: Arial, Helvetica, sans-serif;
}
.p3 {
  font-family: Arial, Helvetica, sans-serif;
}
.ul {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center {
  display: block;
  margin: auto;
  /*width: 50%;
  height: auto;*/
  padding: 10px;
}

.main-page-content {
    overflow-wrap: break-word;
    padding: 3rem 1rem 1rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column {
  float: left;
  width: 33.33%;
  height: auto;
  padding: 0px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
} 
